{% extends "base.html" %}
{% block title %}Админпанель{% end %}

{% block links %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="addpost_link">
            <a class="nav-link" href="/addpost">Добавить пост</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/deauth">Выход</a>
        </li>
    </ul>

</div>
{% end %}

{% block content %}
<div class="admin_content">
	<div class="manipulate">
	
		<br>
		<br>
		<br>
		<br>
		<br>
		В разработке.
		<br>
		<br>
		<br>
		1321


	</div>
</div>
{% end %}
{% block script %}
{% end %}